*{
    margin: 0px;      
    box-sizing: border-box;  
}
body{
    background-image: url(https://free-images.com/lg/d541/forest_nature_morning_in.jpg);   
    background-size: cover;
    background-attachment: fixed;     
}
 /* NAVIGATION AND HEADER */
.header-container {
    display: flex;
    background-color: #ffb5a7;
    justify-content: space-between;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1em;
    align-items: center; 
    font-size: 1.2rem;
}
h1{
    padding-left: 1.2em;
}

.nav-box{
    display: flex;
    list-style: none;
    background-color: #ffb5a7;        
}
 .a-nav:hover{
    color: #f7f4f1;
}
a{
    text-decoration: none;
    color: black;
}
.active {
    color: #f9f9f9;
    padding-right: 15px; 
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}
.a-nav{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
ul{
    padding-inline-start: 0;
}
/* END OF NAVIGATION AND HEADER */
main{
    padding: 2em 3em 1em 3em;
}
.primary-card-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.primary-card{  
    background-color: #f9dcc4;
    flex-grow: 1; 
    flex-basis: 40em;
    align-self: stretch;
    text-align: center;
    padding: 1%;
    box-shadow: 2px 5px 5px rgb(20, 20, 20);  
    max-width: 85vh;
    max-height: 50vh;
    overflow: hidden;
    font-family:"Brush Script MT", cursive;
  }  

img{     
    width: 100%;
    height: 100%;
    object-fit: cover;   
 }   

.primary-card-button {
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
    font-weight: bold;
 }
.resume-link:hover{
    color: rgb(87, 86, 86);
}

.secondary-card-headline{
    font-size: 2rem;
    margin: 1.2rem; 
    font-family: 'Indie Flower', cursive;
    font-weight: bold;   
}
.card {
    margin: 1em;
  } 

.secondary-card-section{
    display: flex; 
    justify-content:space-between;
    flex-wrap: wrap; 
}
.secondary-card{
    background-position: center; 
    background-size: cover;
} 

.project-button{
    background-color: #f9dcc4; 
    font-family: 'Indie Flower', cursive;
    text-align: center;
    height: 9vh;
    font-size: 0.8rem;
    padding: 1vh;
    border: solid white 0.1em;
}

/* RANDOM IMAGE SECTION */
.random-img-section{
  text-align: center;  
} 
.random-picture-button{
    border: none;
    background-color: #f9dcc4;
    padding: 0.5em;
    font-family:"Brush Script MT", cursive;
    box-shadow: 2px 5px 5px rgb(20, 20, 20);  
    
}
.random-picture-button:hover{
    background-color: #ffb5a7;
    border: none;
    font-weight: bold;
}

#random-image-container{
    padding: 1em; 
    background-color: #ffb5a7;
    border: 0.3vh solid #ffffff;
}      
.close {
    color: #000000;
    font-size: 2rem;
    position: absolute;
    top: 1;
    right: 1;
    padding: 0.1em;
    cursor: pointer;
}
.popup-content{
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: 70vh;
    width: 100%;
    height: 100%;
    max-width: 55vh;
    max-height: 55vh;
}

/* END OF RANDOM IMAGE SECTION */
h2{
    text-align: center;
}
.card-1{
    background-image: url('../images/stenSaxPase.jpg');
   
}   
.card-2{
    background-image: url('../images/rngSpel.jpg');
}
.card-3{
    background-image: url('../images/two-small-ghosts-fishing-in-a-boat-on-a-lake-upscaled.jpg');
}
.card-4{
    background-image: url('../images/cuteGhostHoldingBalloons.jpg');
}

.footer-container {
    display: flex;
    background-color: #fbc4ab;
    font-family:"Brush Script MT", cursive;
    flex-wrap: wrap;
    padding: 1em;
    align-items: center;
    justify-content: space-evenly;
    
}


/* Någon annans kod (https://codepen.io/ekeric13/pen/wKOwmg) (redigerad av mig)*/
.carousel {
  position: relative;
  width: 50vh;
  height: 50vh; 
  margin: 0 auto;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.slide {
  height: 45vh;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
  background-position: center; 
  background-size: cover;
  padding: 2vh;
  border: solid white 0.1em;
  width: 40%;
} 

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  color: white;
  outline: none;
}

.nav-left {
  left: -3vh;
}

.nav-right {
  right: -3vh;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
} 
 /*Slutet på någon annans kod*/


/* MOBILE ADJUSTMENT */
@media (max-width: 800px) {
main{
    padding: 1em 0.5em 0.5em 0.5em;
}
h1{
    font-size: 2rem;
}
h2 .secondary-card-headline{
    font-size: 1rem;
 }

 .header-container{
    margin: auto; 
} 
.nav-box{
    margin-top: 1rem;
}

 .primary-card-section {
    display: flex;
    flex-direction: column;   
  }

  .card{
    margin: 0.3em;
    flex-grow: 1;
  }
  .project-titles{
    padding: 0em;
    max-width: 3em;
    display: flex;
  }

 .secondary-card{
    max-width: 20vh;
    max-height: 35vh; 
    flex-grow: 1;
 }
 

 .project-button{
    font-size: 0.8rem;
 }

footer{
    gap: 1em;  
}

}
